<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am currently working as a software engineer in Infosys. While I'm a full-stack
            developer, my interest also lies in building games ,working on Js frameworks, Automation and Data Structure & Algorithm.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Academic Qualification </h3>
        <table>
     <tr>
       <th>Examination</th>
       <th>University/Board</th>
       <th>Year</th>
       <th>Performance</th>
     </tr>
     <tr>
       <td>B.Tech (CSE)</td>
       <td>National Institute of Technology, Raipur</td>
       <td>2019</td>
       <td>9.39 CPI</td>
     </tr>
     <tr>
       <td>CBSE (12th)</td>
       <td>St Paul School, Nagpur</td>
       <td>2015</td>
       <td>93%</td>
     </tr>
     <tr>
       <td>CBSE (10th)</td>
       <td>St Paul School, Nagpur</td>
       <td>2013</td>
       <td>10 CGPA</td>
     </tr>
   </table>
	    </div>
    </div>
  </div>
</section>
