<section class="tout" id="interests">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Interests</h2>
            <hr />
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <h3 style="margin-top:0">Projects and Internship</h3>
            <b><i><u>Covid 19 ChatBot</u></i></b>
            <ul>
               <li>Built a ChatBot for getting covid19 related info on my whatsapp using the twilio Api for Whatsapp and the flask framework for Python </li>
               <b><i><a style="color:#3a4660;" href = "https://www.linkedin.com/posts/mihir-kumar-singh-a2a456130_chatbot-covid19-whatsapp-activity-6654550049273548801-V2mg">Demo</a></i></b>
            </ul>
            <br>
            <b><i><u>Animal Sound Classification</u> ( Jan 2019 - March 2019 )</i></b>
            <ul>
               <li>We investigated the problem of animal sound classification using machine learning & deep learning.
               <li>We proposed a system based on different Machine Learning Models like gradient Boosting, SVM and various Deep learning models like.
               <li>Sound files were pre-processed to extract Mel Frequency Cepstral Coefficients(MFCC) using Librosa library.
               <li>The best accuracy of 93% was obtained by sequential Model of CNN and LSTM.</li>
               <b><i><a style="color:#3a4660;" href = "https://www.linkedin.com/posts/mihir-kumar-singh-a2a456130_librosa-education-training-activity-6580527949878005760-55Me">Demo</a></i></b>
            </ul>
            <br>
            <b><i><u>Internship (Infosys)</u> ( May 2018 - July 2019 )</i></b>
            <ul>
               <li>Worked on Java Spring Boot, Javascript, Ajax, Mockito for the developement and testing of various module required in the Project named Navigate for Me.</li>
               <li>Made a software using Js which automated some of manual work by converting execl into required Json file  <b><i><a style="color:#3a4660;" href="https://www.linkedin.com/posts/mihir-kumar-singh-a2a456130_javascript-json-array-activity-6544072694537773056-ro5t">Demo</a></i></b></li>
            </ul>
            <br>

         </div>
         <div class="col-sm-6">
           <b><i><u>Internship (NITRR)</u> ( May 2017 - June 2017 )</i></b>
           <ul>
              <li>Designed and Developed the complete Website of NIT Raipur. Responsible for entire UI and Backend of the website</li>
              <li> Implemented own CMS using PHP</li>
              <b><i><a style="color:#3a4660;" href = "www.nitrr.ac.in">Demo</i></a></b>
           </ul>
           <br>
            <h3 style="margin-top:0">Awards and Achievements</h3>
               <b><i><u>CODEUTSAVA 3.0 WINNER</u></i></b>
            <ul>
               <li>
                  Won the National level Hackathon held in Nit Raipur, By building a Incubator Management System for 36Inc.<b><i><a style="color:#3a4660;" href = "https://drive.google.com/file/d/15mfDVZXmDwOGhAZG90zBE_S_g7bwxCml/view?usp=drivesdk"> Credentials</i></a></b>
               </li>
           </ul>
               <b><i><u>Certificate of Appreciation</u></i></b>
            <ul>
               <li>
                  Received a Appreciation cretificate from <b>Dean</b> and <b>Registrar</b> of NIT Raipur for making NIT Raipur offcial Website.<b><i><a style="color:#3a4660;" href = "https://drive.google.com/file/d/0B8TfxxdcwejydldEaEtTYTdWelE/view"> Credentials</i></a></b>
               </li>
            </ul>
            <b><i><u>Overall Coordinator Techfest (NITRR)</u></i></b>
         <ul>
            <li>
              Responsible for Managing the technical and financial aspects of the Tech fest <b>Aavartan</b>.
            </li>
         </ul>
         </div>
      </div>
   </div>
</section>
