<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{ site.name }} {{ site.skills }}">
      <meta name="keywords" content="{{ site.keywords }}" />
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.canonical_url }}">
      <link rel="icon" type="image/png" href="{{ site.baseurl }}{{"/img/icon.png"}}" sizes="16x16" />

      <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
      <link rel="stylesheet" href="{{ site.baseurl }}{{"/style.css"}}">

      <!-- Google verification -->
      {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

      <!-- Bing Verification -->
      {% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

      <!-- Custom Fonts -->
      <link rel="stylesheet" href="{{ site.baseurl }}{{"/css/font-awesome/css/font-awesome.min.css"}}">
      <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header page-scroll">
               <a class="navbar-brand" href="{{ site.baseurl }}{{"/index.html"}}">{{ site.name }}</a>
           </div>
       </div>
       <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="container">
            <div class="row">
              <h3> My Articles </h3>
            </div>
        </div>
    </header>
<section id="about">
{% for post in site.posts %}
      <div class="container" style="border:2px solid #3a4660; margin-bottom:2%;">
        <div class="row">
          <div class="blog-card__head">
        <span class="date__box">
          <span class="date__day">{{ post.date }}</span>
        </span>
</div>
          <div class="col-12">

            <article class="blog-card">

              <div class="blog-card__info">
                <p> {{ post.excerpt }} </p>
                <a href="/portfolio{{ post.url }}" style="color:#3a4660;background:#f9e4b7;" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
              <div class="row">
                  <div class="col-lg-12" >
              {% for network in site.social %}
              <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
              {% endfor %}
            </div>
          </div>
          <br>
                <div class="row">
                    <div class="col-lg-12" >
                        Copyright &copy; {{ site.name }} 20{{ site.time | date: '%y' }}
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!-- jQuery Version 1.11.0 -->
     <script src="{{ site.baseurl }}{{ "/js/jquery-1.11.0.js" }}"></script>

     <!-- Bootstrap Core JavaScript -->
     <script src="{{ site.baseurl }}{{ "/js/bootstrap.min.js" }}"></script>

     <!-- Plugin JavaScript -->
     <script src="{{ site.baseurl }}{{ "/js/jquery.easing.min.js" }}"></script>
     <script src="{{ site.baseurl }}{{ "/js/classie.js" }}"></script>
     <script src="{{ site.baseurl }}{{ "/js/cbpAnimatedHeader.js" }}"></script>

     <!-- Contact Form JavaScript -->
     <script src="{{ site.baseurl }}{{ "/js/jqBootstrapValidation.js" }}"></script>
     <script src="{{ site.baseurl }}{{ "/js/contact_me_static.js" }}"></script>

     <!-- Custom Theme JavaScript -->
     <script src="{{ site.baseurl }}{{ "/js/freelancer.js" }}"></script>
</body>
</html>
